@use './assets/styles/_variables';

html {
  font-family: variables.$font-family-alpha;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 20px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
